hr.thunder {
    z-index: -1;
    border: unset;
    position: fixed;
    width: 100vw;
    height: 100vh;
    animation-name: thunder;
    animation-duration: calc(var(--thunder-duration));
    animation-timing-function: linear;
    animation-delay: var(--thunder-delay);
    animation-iteration-count: infinite;
}

hr:not(.thunder) {
    display: flex;
    position: fixed;
    z-index: -1;
    left: 0;
    width: 10px;
    border-color: transparent;
    border-right-color: rgba(255, 255, 255, 1);
    border-right-width: 80px;
    bottom: 100%;
    animation-name: rain;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rain {
    from {
        transform: rotate(90deg) translateX(0) ;
    }
    to {
        transform: rotate(90deg) translateX(calc(100vh + 20px));
    }
}

@keyframes thunder {
    0% {
        background-color: transparent;
    }
    0.5% {
        background-color: white;
    }
    1.5% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    2.5% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
    }
}
